*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f3f1ff;
    font-family: 'Roboto', sans-serif;
}

header{
    position: sticky;
    display: flex;
    align-items: center;
    background-color: lightsalmon;
    height: 70px;
    color: whitesmoke;
    justify-content: flex-end;
}
/* Hovering effects */

.first-head:hover, .last-head>*:hover{
    border: 2px solid sandybrown;
    background-color: white;
    color: black;
}
.title:hover, .halved:hover, .gear:hover{
    border:3px dotted sandybrown
} 
header h5{
    /* border: 3px solid red; */
    padding: 10px;
    margin: 10px;
}
.first{
    margin: auto;
    display: flex;
    align-items: center;
}

main{
    width: 1200px;
    max-width:80%;
    margin: 50px auto;
    box-shadow: 5px 10px 20px silver;
}
.halved{
    width: 40%;
    padding-left: 2%;
    margin-left: 5%;
    float: left;
    
}
.halved img{
    width: 100%;
}

.section-title{
    /* color: blue; */
    text-align: center;
    padding: 20px;
}

header{
    display: flex;
    justify-content: space-between;
}
.first-head{
    margin: 0 20px;
    padding: 15px;
}
.last-head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.butt{
    text-decoration: none;
    padding: 10px;
    margin: 20px auto;
    border: 2px solid salmon;
    border-radius: 10px;
    color: white;
    background-color: lightsalmon;

}



.popular-collections{
    background-color: white;
    padding: 30px 20px;
}

.logos img{
    height: 20px;
    width: 50px;
}

.collections, .logos{
    display: grid;
    grid-gap: 10px;
    margin: 20px 0;
}

.collections{
    grid-template-columns: repeat(3,1fr);
    justify-items: center;

}
.logo-container{
    clear: both;
    /* width: 60%; */
    margin: auto;
}
.logos{
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    align-items: center;
}


.popular-collections{
    margin-top: 50px;
}

.player img{
    height: 50px;
    margin-right: 20px;
}
header img{
    height: 50px;
    margin-right: 10px;
}
/* Join us Extra section */
.join-us{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, salmon, sandybrown);
    font-family: "URW Chancery L", cursive
}

.centering{
    text-align: center;
}

.thumb img{
    width: 200px;
    margin-right: 20px;
}

.pic img{
    width: 200px;
}
.gear p{
    color: salmon;
}

.func{
    display: flex;
}

/* Rating definition */
.ratings{
    font-size:x-small;
    margin-right: 5px;
    margin-top: 2px;
}

.more-info{
    font-size: x-small;
    font-weight: 200;
}

/* Color definitions */
.sat{
    color: goldenrod;
}
.un{
    color: gray;
}

/* Responsive started from here  */

@media (max-width: 888px){
    .logos{
        grid-template-columns: repeat(7, 1fr);
    }
    .blogs, .collections{
        grid-template-columns: repeat(2, 1fr);
    }
 
}
@media (max-width: 668px){
    .first{
        display: block;
        text-align: center;
    }
    .first-head{
        margin: auto;
        text-align: center;
    }
    .last-head{
        display: none;
    }
    .halved{
        clear: both;
        width: 100%;
        margin: auto;
        padding: 0;
    }
    .collections{
        grid-template-columns: repeat(1, 1fr);  
    }
    .logos{
        grid-template-columns: repeat(4, 1fr);  
        justify-items: center;
        align-items: center;
    }
    .blogs{
        display: block;
    }
    .gear{
        display: block;
        
    }
}

footer{
    background: #120E43;
    color: white;
    padding: 50px 10px;
    width: 100%;
    margin-top: 100px;
}
.text-center{
    text-align: center;
}